################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventDrivenMicroservices/.idea/config/applicationhost.config
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/appsettings.Development.json
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/appsettings.json
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/Microsoft.OpenApi.dll
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.deps.json
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.dll
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.exe
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.pdb
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.runtimeconfig.json
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/OrderService.staticwebassets.endpoints.json
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EventDrivenMicroservices/OrderService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/ref/OrderService.dll
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/refint/OrderService.dll
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/apphost.exe
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderSer.4493321F.Up2Date
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.csproj.CoreCompileInputs.cache
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.csproj.FileListAbsolute.txt
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.dll
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.genruntimeconfig.cache
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.MvcApplicationPartsAssemblyInfo.cache
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.MvcApplicationPartsAssemblyInfo.cs
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.pdb
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/OrderService.sourcelink.json
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/staticwebassets/msbuild.build.OrderService.props
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.OrderService.props
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.OrderService.props
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/EventDrivenMicroservices/OrderService/obj/Debug/net8.0/staticwebassets.build.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/appsettings.Development.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/appsettings.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/DnsClient.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/Microsoft.OpenApi.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/MongoDB.Bson.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/MongoDB.Driver.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.deps.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.exe
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.pdb
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.runtimeconfig.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ProductService.staticwebassets.endpoints.json
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/RabbitMQ.Client.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/SharpCompress.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/Snappier.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EventDrivenMicroservices/ProductService/bin/Debug/net8.0/ZstdSharp.dll
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ref/ProductService.dll
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/refint/ProductService.dll
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/staticwebassets/msbuild.build.ProductService.props
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ProductService.props
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ProductService.props
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/apphost.exe
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductS.A0FC5512.Up2Date
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.assets.cache
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.csproj.CoreCompileInputs.cache
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.genruntimeconfig.cache
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.pdb
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.sourcelink.json
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/staticwebassets.build.json
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.MvcApplicationPartsAssemblyInfo.cs
/EventDrivenMicroservices/EventDrivenMicroservices.sln.DotSettings.user
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.csproj.FileListAbsolute.txt
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.dll
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.GeneratedMSBuildEditorConfig.editorconfig
/EventDrivenMicroservices/ProductService/obj/Debug/net8.0/ProductService.MvcApplicationPartsAssemblyInfo.cache
